.container{margin:0 auto;width:600px;margin-top: 43px;}
.citieslistinputContainer{width:140px;float:left;margin-right:56px}
.searchbarContainer{width:240px;float:left}
html {
    overflow-y: scroll;
  }
  .search{
    width: 100px;
    height: 50px;
    float: right;
    font-size: 20px;
    
  }